<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.saurik.substrate" />
        <package android:name="com.zachspong.temprootremovejb" />
        <package android:name="com.ramdroid.appquarantine" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.kingroot.kinguser" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FridaWorkerService"
            android:exported="false"
            android:process=":frida_worker" />

    </application>
</manifest>